<div class="container mb-4">
  <div class="row">
    <div class="col-12 pt-3">
      <div class="float-right">
        <% if account_signed_in? %>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <%= current_account.full_name %>
          </button>
          <div class="dropdown-menu float-right" aria-labelledby="dropdownMenuButton">
            <%= link_to "Profile", profile_path(current_account.username), class: "btn btn-outline-primary
            dropdown-item" %> <%= link_to "Settings",
            edit_account_registration_path, class: "btn btn-outline-primary
            dropdown-item" %> <%= link_to "Sign Out",
            destroy_account_session_path, method: :delete, class: "btn
            btn-outline-primary dropdown-item" %>
          </div>
          <div class="karma float-left mt-2 pr-3">
            <span class="fa fa-star text-warning"></span>
            <%= current_account.karma %>
          </div>
        </div>


        <% else %> <%= link_to "Log In", new_account_session_path, class: "btn
        btn-outline-primary" %> <%= link_to "Sign Up",
        new_account_registration_path, class: "btn btn-primary" %> <% end %>
      </div>
      <p class="h3">
        <%= link_to "Reddit Clone", root_path %>
      </p>
    </div>
  </div>
</div>
